@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 1em;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    font-stretch: wider;
  }
  
  .default {
    border-color: #000000;
    background: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #1e90ff;
  }

  .reopen {
    border-color: #000000;
    background: #f8cac6;
    color: black;
  }
  
  .reopen:hover {
    background: #e03e2d;
  }

  .finish {
    border-color: #000000;
    background: #bfedd2;
    color: black;
  }
  
  .finish:hover {
    background: #2dc26b;
  }

  .edit {
    border-color: #000000;
    background: #fbeeb8;
    color: black;
  }
  
  .edit:hover {
    background: #f1c40f;
  }

  .btn {
    border-radius: 5px;
  }