@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
} */

body {
  background: #1C2025;
  margin: 1em;
}

.grid {
  display: grid;
  /* grid-gap: 1.5vw;
  min-height: 100vh;
  padding: 1.5vw; */
}

.grid {
  /* grid-template-columns: repeat(1fr, 2); */
  /* grid-template-rows: 50vh 30vh repeat(7, minmax(20vh, 1fr)); */
  grid-template-areas:
    "headerbox   headermenu  1xsettings"
    "tasklist"
    "bottomline";
    min-width: fit-content(20em);
    max-width: 90rem;
}

.headerbox {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  background-color: #323C44;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  font-size: 15px;
  align-items: center;
  align-self: center;
  font-size: 30px;
  font-weight: 300;
  color: #F5F7FB;
  float: inline-start;
}

.tasklist {
  background-color: #323C44;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
  padding-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: left;
  font-size: 15px;
}

table {
  background-color: #323C44;
  border-collapse:collapse; 
  width: 100%;
  color: #91a0af;
}

tbody th {
  background-color: #202934; /* Table header background color */
  font-size: 20px;
  font-weight: 300;
  color: #F5F7FB;
  padding: 10px;
}

.tdtaction {
  text-align: right;
}

.tdtid {
  text-align: center;
}

tr:nth-child(even){background-color: transparent}
tr:nth-child(odd){background-color: #ffffff10}
/* tr:hover{border: dashed red;} */

/* tbody tr:nth-child(odd) {
  background-color: #7fb8f1;
  list-style: none;
}

tbody tr:nth-child(even) {
  background-color: #32465A;
} */

body {
  font-family: 'Roboto', sans-serif;

}

/* .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  font-stretch: wider;
}

.default {
  border-color: #000000;
  background: #e7e7e7;
  color: black;
}

.default:hover {
  background: #1e90ff;
}

/* .headmenu {
  background: #f5f7fb70;
  border-color: transparent;
  color: black;
  height: 50px;
  font-size: 20px;
  margin-top: 15px;
} */

.headmenu:hover {
  background: #f5f7fbcb;
}

.reopen {
  border-color: #000000;
  background: #6b7684;
  color: black;
}

.reopen:hover {
  background: #e7d697;
}

.finish {
  border-color: #000000;
  background: #bfedd2;
  color: black;
}

.finish:hover {
  background: #2dc26b;
}

.edit {
  border-color: #000000;
  background: #6b7684;
  color: black;
}

.edit:hover {
  background: #aec0d6;
}

/* .btn {
  border-radius: 5px;
} */



.menu-icon-bar {
  width: 100%;
  height: 100%;
}

.menu-icon-bar a {
  float: left;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #ABAFB5;
  font-size: 36px;
  height: 100%;
  text-decoration: none;
}

.menu-icon-bar a:hover {
  border-radius: 20px;
  color: #ffffff;
}

.menu-icon-bar-active {
  background-color: #B0EE97;
  border-radius: 20px;
}

